<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekydreams.ashioto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    -
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".Start"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetooth"
            android:label="Ashioto"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings"
            android:label="Settings">
            <intent-filter>
                <action android:name="com.IndovationStudios.Ashioto.settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home"
            android:label="@string/title_activity_home"></activity>
        <activity
            android:name=".library_start"
            android:label="@string/title_activity_library_start"></activity>
        <activity
            android:name=".MainActivity"
            android:label="Connect">
        </activity>
    </application>

</manifest>